
services:
###> doctrine/doctrine-bundle ###
    app:
      image: dunglas/frankenphp:1-php8.4
      volumes:
        - ./:/app
      ports:
        - "80:80"
        - "443:443"
      environment:
        DATABASE_URL: "mysql://app:${MYSQL_PASSWORD}@database:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
      depends_on:
        - database

    database:
      image: mariadb:10.11
      environment:
        MYSQL_DATABASE: app
        MYSQL_USER: app
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      volumes:
        - database_data:/var/lib/mysql:rw
        - ./docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      ports:
        - "3307:3306"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
    mailer:
      image: axllent/mailpit
      ports:
        - "1025:1025"
        - "8025:8025"
      environment:
        MP_SMTP_AUTH_ACCEPT_ANY: 1
        MP_SMTP_AUTH_ALLOW_INSECURE: 1
###< symfony/mailer ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
